<h1>My Tasks List</h1>
link <%= link_to 'New Task', new_task_path %>
  <% @tasks.each do |task| %>
    <td><p class="card-text"><%= task.completed %></p></td>
    <td><h5 class="card-title"><%= task.title %></h5></td>
    link <%= link_to 'details', task_path(task) %>
  <% end %>
